<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/main">
<head>
    <title>Room Cha - Change Password</title>
</head>
<body>

<div layout:fragment="content">

    <div class="registration-page">
        <form action="#" th:action="@{/user/changepassword}" method="post" class="form-register">
            <h4>Change Password</h4>
            <div class="form-group">
                <label for="old-password">Old Password</label>
                <input type="password" id="old-password" class="form-control" placeholder="Old Password"
                       name="old-password"/>
                <div th:if="${oldPasswordMessage != null}" th:utext="${oldPasswordMessage}" class="alert alert-danger">
                    ERROR
                </div>
            </div>
            <div class="form-group">
                <label for="new-password">New Password</label>
                <input type="password" id="new-password" class="form-control" placeholder="New Password"
                       name="new-password"/>
                <div th:if="${passwordSizeMessage != null}" th:utext="${passwordSizeMessage}"
                     class="alert alert-danger">ERROR
                </div>
            </div>
            <div class="form-group">
                <label for="retype-new-password">Retype New Password</label>
                <input type="password" id="retype-new-password" class="form-control" placeholder="Retype New Password"
                       name="retype-new-password"/>
                <div th:if="${retypePasswordMessage != null}" th:utext="${retypePasswordMessage}"
                     class="alert alert-danger">ERROR
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Change Password</button>
        </form>
    </div>

    <!--<form action="#" th:action="@{/user/update}" th:object="${user}" method="post">-->
    <!--<div class="form-group">-->
    <!--<label for="fullName">Full Name</label>-->
    <!--<input type="text" id="fullName" class="form-control" placeholder="Full Name" th:field="*{fullName}"/>-->
    <!--<div th:errors="*{fullName}" class="alert alert-danger">ERROR</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label for="primaryPhoneNumber">Primary Phone Number</label>-->
    <!--<input type="text" id="primaryPhoneNumber" class="form-control" placeholder="Primary Phone Number" th:field="*{primaryPhoneNumber}"/>-->
    <!--<div th:errors="*{primaryPhoneNumber}" class="alert alert-danger">ERROR</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label for="secondaryPhoneNumber">Secondary Phone Number <span class="optional-text">(Optional)</span></label>-->
    <!--<input type="text" id="secondaryPhoneNumber" class="form-control" placeholder="Secondary Phone Number" th:field="*{secondaryPhoneNumber}"/>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label for="streetName">Street Name <span class="optional-text">(Optional)</span></label>-->
    <!--<input type="text" id="streetName" class="form-control" placeholder="Street Name" th:field="*{streetName}"/>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label for="areaLocation">Area Location</label>-->
    <!--<input type="text" id="areaLocation" class="form-control" placeholder="Area Location" th:field="*{areaLocation}"/>-->
    <!--<div th:errors="*{areaLocation}" class="alert alert-danger">ERROR</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label for="cityName">City Name</label>-->
    <!--<input type="text" id="cityName" class="form-control" placeholder="City Name" th:field="*{cityName}"/>-->
    <!--<div th:errors="*{cityName}" class="alert alert-danger">ERROR</div>-->
    <!--</div>-->
    <!--<input type="hidden" th:field="*{id}"/>-->

    <!--<button type="submit" class="btn btn-lg btn-primary btn-block">Update</button>-->
    <!--</form>-->
</div>

</body>
</html>
